
@font-face {
	font-family: Montserrat; /* Имя шрифта */
	src: url(font/Montserrat-Bold.ttf); /* Путь к файлу со шрифтом */
	font-weight: bold;
}

@font-face {
	font-family: Montserrat; /* Имя шрифта */
	src: url(font/Montserrat-Thin.ttf); /* Путь к файлу со шрифтом */
	font-weight: 100;
}

@font-face {
	font-family: Montserrat; /* Имя шрифта */
	src: url(font/Montserrat-Light.ttf); /* Путь к файлу со шрифтом */
	font-weight: 300;
}

body {
	font-family: 'Montserrat'
}

* {
	margin: 0;
	padding: 0;
}

.container {
	width: 1366px;
	margin: 0 auto;
}

.header {
	height: 800px;
	background-image: url('imgs/header.jpg');
}

.header .logo {
	margin-left: 98px;
	margin-top: 63px;
}

.meny {
	float: right;
	margin-right: 213px;
	margin-top: 67px;
}

.meny li {
	float: left;
	list-style-type: none;
}

.meny a {
	color: #8c8c8c;
	font-size: 14px;
	line-height: 48px;
	text-decoration: none;
	display: block;
	padding: 0 20px;
}

.meny a:hover {
	color: #212121;
	font-weight: 700;
	border-bottom: 3px solid black;
}

.search {
	float: right;
    margin-top: 11px;
}

.text {
	margin-top: 287px;
	margin-left: 98px;
	width: 457px;
}

.text h3 {
	margin-bottom: 22px;
	color: #43a047;
	line-height: 48px;
}

.text h1 {
	margin-bottom: 34px;
	font-weight: 100;
}

.text p {
	font-size: 14;
	margin-bottom: 32px;
}

.text a {
	display: block;
	border-radius: 22px;
	box-shadow: 0px 2px 4.48px 0.15px rgba(33,33,33,0.35);
	width: 212px;
	height: 45px;
	text-decoration: none;
	text-align: center;
	line-height: 45px;
	font-weight: bold;
	color: #6c6c6c;
	background: #ffffff url('imgs/arrow.png') no-repeat 153px 13px;
}